.form {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    max-width: 60%;
    align-self: center;
    margin: auto;
}

.top-section {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
