.test-event {
  border-color: var(--border-color, #121212);
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  box-shadow: var(--border-color, #121212) 0px 3px 0px;
  width: fit-content;
  padding: 10px 13px;
  align-self: center;
}

.button {
  --border-color: #a0a;
  --border-thickness: 3px;
  border-color: var(--border-color, #121212);
  border-radius: 3px;
  border-style: solid;
  border-width: var(--border-thickness);
  box-shadow: var(--border-color, #121212) 0px calc(var(--border-thickness) * 2)
    0px;
  padding: 3px 6px;
}

.button:active {
  transform: translateY(calc(var(--border-thickness) * 2));
  box-shadow: none;
}
